.bg-main{
    position: absolute;
    left: 0;
    top: 0;
    height: toRem(809);
    background: radial-gradient(44.9% 44.26% at 50% 49.94%, rgba(16, 19, 36, 0.3) 0%, rgba(16, 19, 36, 0.6) 32.81%, rgba(16, 19, 36, 0.95) 100%), url(../../media/images/sam-moghadam-khamseh-mbx0GYZ0ng8-unsplash.jpg);
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-bio{
    background: radial-gradient(44.9% 44.26% at 50% 49.94%, rgba(16, 19, 36, 0.3) 0%, rgba(16, 19, 36, 0.6) 32.81%, rgba(16, 19, 36, 0.95) 100%), url(../../media/images/band_all.png);
    height: toRem(809);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

    .home{
        position: relative;
        width: 100%;
        height: 100%;
        
        .nav{
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            height: toRem(98);
            align-items: center;
            justify-items: center;
            width: 100%;
            
            .button{
                display: none;
                color: $color-5;
                padding-right: 2rem;
                @include respond (tablet) {
                    display: block;
                }
            }
            .close{
                display: none;
                color: $color-5;
                padding-right: 2rem;
            }
    
            .platform{
                display: flex;
                border-right: 1px solid rgba(255, 255, 255, 0.2);
                height: toRem(98);
                width: toRem(222);
                align-items: center;
                justify-content: center;
    
                @include respond (tablet) {
                    border-right: none;
                }
    
                a{
                    @include respond (tablet) {
                        display: none
                    }
                }
    
                span{
                    @include p-1();
                color: $color-5;
                text-transform: capitalize;
                margin-left: -40px;
                display: none;
                @include respond (tablet) {
                    display: block;
                }
                }
                
                .img-1{
                    margin-right: toRem(24);
                }
                .img-2{
                    margin-right: toRem(24);
                }
                            
            }
    
            .menus{
                position: relative;
                width: toRem(997);
                height: toRem(98);
                display: flex;
                align-items: center;
                justify-content: space-around;
    
                @include respond (tablet) {
                    position: absolute;
                    width: 100%;
                    height: toRem(400);
                    display: none;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 150px;
                    flex-direction: column;
                    background: $color-1;
                    top: 87px;
                    left: 0;
                    z-index: 99;
                }
    
                .menus-main{
                    color: $color-5;
                    font-family: "gilroy";
                    font-style: normal;
                    font-weight: 800;
                    font-size: toRem(20);
                    line-height: toRem(22);
                    text-align: center;
                    
    
                    span{
                        color: $primary;
                    }
                }
    
                a{
                    position: relative;
                    display: flex;
                    text-decoration: none;
                    color: #9FA1A7;
                    line-height: toRem(17.6);
                    text-transform: uppercase;
                    cursor: pointer;
    
                    @include respond (tablet) {
                        margin-top: toRem(32);
                    }
    
                    &:first-child span{
                        margin-left: 24px;
                    }
                    &:nth-child(2) span{
                        margin-left: 9.5px;
                    }
                    &:nth-child(3) span{
                        margin-left: 36.5px;
                    }
                    &:nth-child(5) span{
                        margin-left: 16px;
                    }
                    &:hover span{
                        opacity: 1;
                    }
    
                    div{
                        color: #375FEB;
                    }
    
                    & span{
                        position: absolute;
                        height: 5px;
                        width: 43px;
                        margin-top: 57px;
                        border-radius: 4.5px;
                        background: #375FEB;
                        opacity: 0;
                        transition: 0.2s ease-out;
                        
                    }
                }           
            }
    
            .login-btn{
                display: flex;
                align-items: center;
                justify-content: center;
                width: toRem(222);
                height: toRem(98);
    
                @include respond (tablet) {
                    height: toRem(80);
                    margin: toRem(700) auto 0;
                    display: none;
                    z-index: 100;
                    border-radius: 5px;
                    width: toRem(160);
                }
    
                a{
                    font-family: "gilroy";
                    font-weight: 800;
                    font-size: toRem(18);
                    line-height: toRem(22);
                    text-align: center;
                    text-transform: uppercase;
                    color: $color-5;
                    text-decoration: none;
                    background-color: $primary;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    @include respond (tablet) {
                        margin-left: -5.2rem;
                    }
                }
            }
        }
    }
