.hero{
    position: relative;
    width: 100%;
    height: 100%;

    @include respond (tab-port) {
        padding: 0 toRem(32);
    }

    .container-booking{
        background: radial-gradient(50% 50% at 50% 50%, rgba(38, 79, 226, 0.3) 0%, rgba(38, 79, 226, 0.2) 30.21%, rgba(38, 79, 226, 0) 100%);
        height: toRem(1066);
        width: 100%;
        padding-top: toRem(160);

        @include respond (tablet) {
            height: auto;
            margin-bottom: toRem(32) !important;
        }
    }

    .booking{
        max-width: toRem(1000);
        width: 100%;
        // height: toRem(657);
        background: rgba(20, 24, 44, 0.75);
        box-shadow: 0px 50px 200px -20px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        display: flex;
        flex-direction: row;

        @include respond (tablet) {
            flex-direction: column;
        }

        .booking-btn{
            width: toRem(305);
            margin-left: auto;
            background: $primary;
            border-radius: 23.5px;
            padding: toRem(16) 0;
            @include Small-title(lowercase);
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            text-align: center;
            color: $color-5;
            outline: none;
            border: 2px solid $primary;
            transition: all .2s ease-in;

            &:hover{
                background-color: #101324;
            }

            @include respond (phone) {
                width: 100%;
            }
        }

        .booking-form{
            max-width: toRem(410);
            width: 100%;
            padding: toRem(59) 0;
            margin: 0 auto;

            @include respond (tablet) {
                padding: toRem(59) toRem(16);
            }
        }

        .form{
            display: flex;
            flex-direction: column;
            gap: toRem(14);
            

            .form__name,
            .form__email,
            .form__phone,
            .form__address,
            .form__date{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                @include respond (phone) {
                    justify-content: space-around;
                }

                @include respond (phone-smallest) {
                    flex-direction: column;
                }

                
                
                p{
                    @include p-4();
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    color: $color-5;
                }

                input::placeholder{
                    padding: toRem(8) toRem(16);
                    @include p-4();
                    font-style: normal;
                    font-weight: 400;
                    color: #9FA1A7;   
                }
            }

            .form__ticket{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: toRem(16);

                @include respond (phone) {
                    flex-direction: column;
                }
            }

            .ticket-radio{
                display: flex;
                justify-content: space-between;
                width: toRem(305);

                @include respond (phone) {
                    width: auto;
                }

                @include respond (phone-smallest) {
                    flex-direction: column;
                }

                /* The container */
                .content {
                    display: block;
                    position: relative;
                    padding-left: 35px;
                    margin-bottom: 12px;
                    cursor: pointer;
                    font-size: 16px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;

                    p{
                        @include p-4();
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        color: $color-5;
                    }
                }
                
                /* Hide the browser's default radio button */
                .content input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                }
                
                /* Create a custom radio button */
                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 25px;
                    width: 25px;
                    background-color: rgba(20, 24, 44, 0.75);
                    outline: 2px solid $color-4;
                    border-radius: 50%;
                    transition: all .2s ease-in;
                }
                
                /* On mouse-over, add a grey background color */
                .content:hover input ~ .checkmark {
                    background-color: $primary;
                    outline: 2px solid $primary;
                }
                
                /* When the radio button is checked, add a blue background */
                .content input:checked ~ .checkmark {
                    background-color: $primary;
                    outline: 2px solid $primary;
                }
                
                /* Create the indicator (the dot/circle - hidden when not checked) */
                .checkmark:after {
                    content: "\2713";
                    display: none;
                    color: $color-5;
                    position: absolute;
                }
                
                /* Show the indicator (dot/circle) when checked */
                .content input:checked ~ .checkmark:after {
                    display: block;
                }
                
                /* Style the indicator (dot/circle) */
                .content .checkmark:after {
                    top: 0px;
                    left: 6px;
                    width: 5px;
                    height: 5px;
                    color: $color-5;
                }
            }
                
            }

            .form__input{
                background: #101324;
                border: 1px solid $color-4;
                border-radius: 4.3367px;
                width: toRem(305);
                transition: all .2s ease-in;

                @include respond (phone) {
                    width: auto;
                }
                @include respond (phone-smallest) {
                    padding: 0.25rem 0;
                }
                
                &:hover,
                &:active{
                    border: 1px solid #3B94E7;
                }
            }

            .form__ticket{
                p{
                    @include p-4();
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    color: $color-5;
                }
            }

            .input-date{
                display: flex;
                justify-content: space-between;
                width: toRem(305);

                @include respond (tablet) {
                    gap: toRem(10);
                }

                @include respond (phone) {
                    flex-direction: column;
                    width: auto;
                }
            }

            .form__input-date{
                background: #101324;
                border: 1px solid $color-4;
                border-radius: 4.3367px;
                width: toRem(91);
                transition: all .2s ease-in;

                @include respond (tablet) {
                    padding: toRem(4) 0;
                }

                @include respond (phone) {
                    width: auto;
                }
                
                &:hover,
                &:active{
                    border: 1px solid #3B94E7;
                }
            }

        .booking-title{
            h4{
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 800;
                line-height: 33px;
                color: $color-5;

                @include respond (tablet) {
                    text-align: center
                }
            }

            p{
                @include p-4();
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                color: #9FA1A7; 

                @include respond (tablet) {
                    text-align: center
                }
            }
        }

        .booking-content{
            width: toRem(420);
            background: linear-gradient(180deg, rgba(16, 19, 36, 0.43) 0%, #101324 100%), url(../../media/images/booking-bg.jpg);
            border-radius: 10px 0px 0px 10px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include respond (tablet) {
                width: auto;
                padding: toRem(16) toRem(16);
            }
        }

        .booking-contents{
            width: toRem(277);
            margin: 0 auto;

            @include respond (tablet) {
                width: auto;
            }

            h2{
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 800;
                line-height: 47px;
                color: $color-5;

                @include respond (tablet) {
                    line-height: 30px;
                    width: toRem(108);
                    margin: 0 auto;
                    text-align: center;
                }
            }

            p{
                &:nth-child(3){
                    @include p-3();
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    color: $color-5;
                    margin-bottom: toRem(24);

                    @include respond (tablet) {
                        margin-bottom: toRem(16);
                    }
                }

                &:nth-child(4){
                    @include p-4();
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    color: #9FA1A7;
                }
            }
        }

        .booking-date{
            width: toRem(145);
            background-color: #F74141;
            border-radius: 4px;
            text-align: center;

            @include respond (tablet) {
                margin: 0 auto
            }

            p{
            @include p-5();
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            color: $color-5;
            }
        }
    }

    .countdown{
        max-width: toRem(640);
        width: 100%;
        margin: 0 auto;

        h3{
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 800;
            line-height: 40px;
            text-align: center;
            color: $color-5;
        }

        .countdown-time{
            display: flex;
            width: 100%;
            justify-content: space-around;
            margin-top: toRem(32);
            margin-bottom: toRem(80);

            @include respond (phone) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }

        .countdown-day,
        .countdown-hours,
        .countdown-minutes,
        .countdown-seconds{
            display: flex;
            flex-direction: column;

            p{
                &:first-child{
                    @include Large(uppercase);
                    font-family: 'Gilroy';
                    font-style: normal;
                    font-weight: 300;
                    text-align: center;
                    color: $color-5;
                }
                
                &:nth-child(2){
                    @include Small-Upper(uppercase);
                    font-family: 'Gilroy';
                    font-style: normal;
                    font-weight: 300;
                    text-align: center;
                    color: $color-5;
                }
            }
        }
    }

    .hero__title{
        max-width: toRem(1000);
        margin: toRem(250) auto;

        h1{
            @include Big-Bold(uppercase);
            font-style: 'Gilroy', normal;
            font-weight: 800;
            color: $primary;
            text-align: center;

            @include respond (phone-mini){
                font-size: 78px;
            }

            span{
                color: $color-5 !important;
            }
        }

        p{
            @include Medium-Upper(uppercase);
            color: $color-5;
            margin-top: toRem(30);
            text-align: center;
            font-weight: 300;

            @include respond (phone) {
                font-size: 18px;
            }
        }
    }

    .bio__title{
        max-width: toRem(1000);
        margin: toRem(250) auto;

        

        h1{
            @include Big-Bold(uppercase);
            font-style: 'Gilroy', normal;
            font-weight: 800;
            color: $primary;
            text-align: center;
            @include respond (tab-mini){
                font-size: 82px;
                line-height: 60px;
            }

            @include respond (phone) {
                font-size: 68px;
            }

            @include respond (phone-mini) {
                font-size: 52px;
            }

            @include respond (phone-smallest) {
                font-size: 44px;
            }

            span{
                color: $color-5 !important;
            }
            
        }

        p{
            @include Medium-Upper(uppercase);
            color: $color-5;
            margin-top: toRem(30);
            text-align: center;
            font-weight: 300;

            @include respond (phone) {
                font-size: 18px;
            }
        }

        
    }

    .title{
        width: toRem(190);
        height: toRem(284);
        margin-top: toRem(110);
        margin-left: auto;
        margin-right: auto;
        h1{
            @include Big-Bold(uppercase);
            @include respond (phone){
                font-size: 80px;
                line-height: 60px;
            }

            span{
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 800;
                color: $color-5;
                margin: 0;

                &:first-child{
                    color: $primary;
                }
                &:nth-child(3){
                    color: $primary;
                }
            }
        }
        p{
            @include Medium-Upper(uppercase);
            color: $color-5;
            margin-top: 15px;
        }
    }

    .container-bio{
        background:linear-gradient(180deg, rgba(38, 79, 226, 0.2) 0%, rgba(38, 79, 226, 0) 100%);
        border-radius: 5px;
    }

    .container{
        max-width: toRem(1000);
        width: 100%;
        margin: toRem(160) auto toRem(16);

        .band-history{
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 0 toRem(16);

            @include respond (tablet) {
                padding: 0;
            }

            .band-history__sub{
                display: flex;
                gap: toRem(16);
                width: 100%;
                flex-direction: row;

                @include respond (phone) {
                    flex-direction: column;
                }

                @include respond (tablet) {
                    gap: 0;
                }

                .band-history__sub-box{
                    border: 0.970902px solid #375FEB;
                    border-radius: 5px;
                    width: toRem(220);
                    height: toRem(218);

                    @include respond (tablet) {
                        width: 100%;
                        height: 100%;
                    }

                    &:first-child{
                        margin-top: toRem(100);
                        
                        @include respond (tab-mini) {
                            margin-top: 0;
                        }
                    }

                    &:nth-child(2){
                        margin-top: toRem(184);

                        @include respond (tablet) {
                            margin-top: 8.5rem;
                        }

                        @include respond (tab-mini) {
                            margin-top: 2rem;
                        }
                    }

                    &:nth-child(3){
                        margin-top: 0;

                        @include respond (tablet) {
                            margin-top: 10.5rem;
                        }

                        @include respond (tab-mini) {
                            margin-top: 4rem;
                        }

                        @include respond (phone-smallest) {
                            margin-top: 2rem;
                        }
                    }
                    &:nth-child(4){
                        margin-top: toRem(110);

                        @include respond (tablet) {
                            margin-top: 12.5rem;
                        }

                        @include respond (tab-mini) {
                            margin-top: 6rem;
                        }

                        @include respond (phone-smallest) {
                            margin-top: 2rem;
                        }
                    }

                    .box-content{
                        width: toRem(165);
                        margin: 0 auto;

                        @include respond (tablet) {
                            width: 100%;
                        }
                    }

                    .main-content{
                        padding-top: toRem(25);
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-bottom: toRem(8);

                        @include respond (tablet) {
                            flex-direction: column;
                        }

                        h2{
                            text-transform: uppercase;
                            font-family: 'Gilroy';
                            font-style: normal;
                            font-weight: 800;
                            color: $color-5;
                            margin: 0 toRem(16);
                        }

                        p{
                            font-family: 'Gilroy';
                            font-style: normal;
                            font-weight: 300;
                            @include Medium-Upper(uppercase);
                            color: $color-5;
                            margin-bottom: 0 !important;

                            @include respond (tablet) {
                                text-align: center;
                            }
                        }
                        
                    }
                    .sub-content{
                        @include respond (phone){
                            width: toRem(200);
                            margin: 0 auto;
                        }

                        p{
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            @include p-5();
                            color: #9FA1A7;
                            margin: toRem(16) toRem(10) 0!important;

                            @include respond (tablet) {
                                text-align: center;
                            }
                        }
                    }
                }       
            }
            
            .band-history__main{
                position: relative;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: toRem(20);
                padding: toRem(20) 0;

                @include respond (tab-mini){
                   display: flex;
                   flex-direction: column;
                   gap: toRem(20);
                }

                .band-title{
                    position: absolute;
                    width: toRem(138);
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);

                    @include respond (tablet) {
                        top: 100%
                    }

                    @include respond (tab-mini) {
                        top: 35%
                    }
                    h1{
                        @include Large(uppercase);
                        font-weight: 800;

                        span{
                            font-family: 'Gilroy';
                            font-style: normal;
                            font-weight: 800;
                            color: $color-5;
                            margin: 0;

                            &:first-child{
                                color: $primary;
                            }
                            &:nth-child(2){
                                color: $primary;
                            }
                        }
                    }
                    p{
                        @include Medium-Upper(uppercase);
                        color: $color-5;
                        margin-top: 15px;
                    }
                }

                .content-left{
                    img{
                        object-fit: cover;
                        display: block;
                }
            }

                .content-right{
                    width: 100%;
                    margin-top: toRem(80);
                    align-items: center;

                    @include respond (tab-mini) {
                        margin-top: toRem(20);
                    }

                    h2{
                        width: toRem(300);
                        margin: 0 auto;
                        text-align: center;
                        font-family: 'Gilroy', normal;
                        font-weight: 800;
                        line-height: 47px;
                        color: $color-5;
                        margin-bottom: toRem(32);

                        @include respond (tablet) {
                            width: 100%;
                            margin: 0;
                        }
                    }

                    p{
                        width: toRem(300);
                        margin: 0 auto;
                        @include p-4();
                        font-family: 'Inter', normal;
                        font-weight: 400;
                        color: #9FA1A7;

                        @include respond (tablet) {
                            width: 100%;
                            margin: 0;
                        }
                    }
                }
            }
        }

        .tours{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            align-items: center;
            position: relative;

            .arrows{
                width: 100%;
                height: 100%;

                

                @include respond(phone) {
                    display: none;
                }
                .arrow__left{
                    position: absolute;
                    z-index: 10;
                    left: 3%;
                 }
 
                 .arrow__right{
                     position: absolute;
                     z-index: 10;
                     left: 96%;
 
                     @include respond (tablet) {
                         left: 94.5%;
                     }
                 }

                 span{
                    cursor: pointer;
                    
                    img{
                        transition: all .2s ease-in;
                        padding: .625rem;
                        border-radius: 50%;
                        
                        &:hover{
                            background-color: $primary;
                                                        
                        }
                    }   
                }
            }

            .tour-content{
                position: relative;
                padding: toRem(64) toRem(64);
                width: 100%;
                height: 100%;
                background: rgba(20, 24, 44, 0.75);
                box-shadow: 0px 130px 70px -90px rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;

                @include respond(phone){
                    padding-left: toRem(16);
                    padding-right: toRem(16);
                }

                .slick-dots{
                    width: 100%;
                    position: absolute;
                    bottom: -5%;
                    left: 91%;
                    transform: translateX(-50%);
                    display: flex;

                    @include respond(phone-mini){
                        left: 85%;
                    }
                
                        li {
                            margin: 0 4px;
                            overflow: hidden;
                            border: none;
                            border-radius: 4px;
                            
                            button {
                                background-color: #9FA1A7;
                                width: 10px;
                                height: 10px;
                                
                                &::before{
                                    display: none;
                                }

                                &::after{
                                    display: none;
                                }
                            }
                            &.slick-active {
                                button {
                                    background-color: $primary;
                                    width: 10px;
                                    height: 10px
                                }
                            }
                        } 
                     }      
    
                .slick-prev{
                    position: absolute;
                    right: -100px !important;
                }
    
    
                .tour-list{
                    display: flex;
                    justify-items: center;
                    align-items: center;

                    @include respond(tablet){
                        flex-direction: column;
                    }
                    .content-left{
                        position: relative;

                        &:hover .img-tour{
                            transform: scale(1.2);
                            filter: blur(3px) brightness(80%);
                        }

                        &:hover .tour-caption{
                            transform: scale(1);
                        }

                        .img-tour{
                            width: toRem(270);
                            height: toRem(379);
                            background: url(../../media/images/spencer-davis-naFHFLV5cqU-unsplash.jpg);
                            background-size: cover;
                            background-position: center;
                            margin-right: toRem(64);
                            transition: all .2s ease-out;
    
                            
    
                            @include respond (tab-port){
                                margin-right: toRem(32);
                            }
                            
                            
    
                            @include respond (phone){
                                margin: 1rem auto;
                            }
    
    
    
                            @include respond(tablet){
                                width: toRem(534);
                               height: toRem(320);
                               margin-bottom: toRem(16);
                               margin-right: 0;
                            }

                            @include respond (tab-mini) {
                                width: toRem(358);
                            }
    
                            @include respond(phone-mini){
                                margin: 0;
                            }   

                        }
                            .tour-caption{
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            z-index: 10;
                            left: 25%;
                            top: 40%;
                            transform: translate(-50%, -50%) scale(0);
                            transition: all .2s ease-out;

                            h3{
                                font-family: "gilroy";
                                font-style: normal;
                                font-weight: 800;
                                font-size: 36px;
                                line-height: 40px;
                                color: $color-5;
                                
                               
                            }
                        }
                        
                    }
    
                    .tour-contents{
                        width: toRem(474);
                        height: 100%;

                        @include respond(tablet){
                            width: 100%;
                        }
    
                        p{
                            font-family: 'inter', normal;
                            font-weight: 400;
                            font-size: toRem(16);
                            line-height: toRem(24);
                            &:first-child{
                                color: $state-1;
                            }
    
                            &:nth-child(4){
                                color: #9FA1A7;
                                margin-top: toRem(24);
                            }
                        }
    
                        h2{
                            font-family: "gilroy";
                            font-style: normal;
                            font-weight: 800;
                            font-size: 43px;
                            line-height: 47px;
                            color: $color-5;
                            margin-bottom: toRem(6);

                            @include respond(phone){
                                font-size: 38px;
                            }
                        }
    
                        h6{
                            font-family: 'Gilroy';
                            font-style: normal;
                            font-weight: 800;
                            font-size: 22px;
                            line-height: 24px;
                            color: $color-5;
                        }
    
                        .tour-btn{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: $primary;
                            border: 2px solid #375FEB;
                            border-radius: toRem(40);
                            width: toRem(201);
                            height: toRem(63);
                            @include Small-title(lowercase);
                            font-family: 'inter', normal;
                            font-weight: 500;
                            text-align: center;
                            color: $color-5;
                            margin-top: toRem(38);
                            text-decoration: none;
                            transition: all .2s ease-in;

                            &:hover{
                                background-color: $color-1;
                            }

                            @include respond (tablet){
                                margin: toRem(38) auto 0;
                            }

                            @include respond (phone) {
                                margin: 1rem auto 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}