.highlight{
    width: 100%;
    margin-bottom: toRem(80);

    .concert__content{
        p{
            &:nth-child(2){
                margin-bottom: 0 !important;
            }
        }
    }

    .highlight__content,
    .concert__content{
        width: 100%;
        background-color: $color-1;
        border: 1px solid #212433;
        border-radius: 3px;

        h5{
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 800;
            line-height: 28px;
            color: $color-5;
            padding: toRem(32) toRem(48);
        }

        p{
            @include p-4();
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            color: #9FA1A7;
            padding: 0 toRem(48) toRem(32);
        }
    }

    .container{
        max-width: toRem(1000);
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: toRem(56);
    }
}