.media{
    background: radial-gradient(49.35% 48.03% at 50% 51.97%, rgba(38, 79, 226, 0.49) 0%, rgba(38, 79, 226, 0.21) 23.44%, rgba(38, 79, 226, 0) 100%);
    backdrop-filter: blur(3.5px);
    width: 100%;
    height: toRem(947);

    @include respond (phone) {
        height: 100%
    }

    .container{
        padding: 0 toRem(32);
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: toRem(1000);
        width: 100%;
        height: toRem(553);
        padding-top: 2rem;

        @include respond (phone) {
           height: 100%;
        }

        @include respond(tablet){
            flex-direction: column;
            padding-bottom: 2rem;
        }

        .media__gallery{
            position: relative;
            display: flex;
            flex: 1;
            height: toRem(450);

            @include respond(tablet){
                width: 100%;
                flex: none;
                height: 100%;
                flex-wrap: wrap;
            }

            .media__gallery--img{
                position: relative;
                display: flex;
                flex-direction: column;
                width: 100%;

                @include respond(tablet){
                    width: auto;
                    margin: 0 auto;
                }

                @include respond(phone-smallest){
                    width: 80%;
                }

                .media__gallery--img-1{
                    position: absolute;
                    top: 16%;

                    img{
                        transition: all .2s ease-out;
                        outline-offset: 1rem;
                        &:hover{
                            outline: 0.5rem solid $primary;
                            transform: scale(1.05);
                            box-shadow: 0 1.938rem 2.5rem rgba(0, 0, 0, 0.5);
                            z-index: 20;

                            @include respond (phone) {
                                outline: none;
                                transform: none;
                               
                            }
                        }
                        &:hover img:not(:hover){
                            transform: scale(.9);
                        }
                    }

                    @include respond (tablet){
                        position: unset;
                        width: max-content;
                    }
                }

                .media__gallery--img-2{
                    position: absolute;
                    top: -5%;
                    left: 10%;

                    img{
                        transition: all .2s ease-out;
                        outline-offset: 1rem;
                        &:hover{
                            outline: 0.5rem solid $primary;
                            transform: scale(1.05);
                            box-shadow: 0 1.938rem 2.5rem rgba(0, 0, 0, 0.5);
                            z-index: 20;

                            @include respond (phone) {
                                 outline: none;
                                 transform: none;
                             }
                        }
                        &:hover &:not(:hover){
                            transform: scale(.9);
                        }
                    }

                    @include respond (tablet){
                        position: unset;
                        width: max-content;
                    }
                }

                .media__gallery--img-3{
                    position: absolute;
                    left: 10%;
                    top: 17%;
                    width: toRem(200);
                    height: toRem(200);
                    border-radius: 5px;

                    img{
                        transition: all .2s ease-out;
                        outline-offset: 1rem;
                        &:hover{
                            outline: 0.5rem solid $primary;
                            transform: scale(1.05);
                            box-shadow: 0 1.938rem 2.5rem rgba(0, 0, 0, 0.5);
                            z-index: 20;

                            @include respond (phone) {
                                outline: none;
                                transform: none;
                            }
                        }
                        &:hover &:not(:hover){
                            transform: scale(.9);
                        }
                    }

                    @include respond (tablet){
                        position: unset;
                        width: 100%;
                        justify-content: center;
                    }
                }

                img{
                    display: block;
                    object-fit: cover;
                    width: 100%;
                    height: toRem(200);
                    background: linear-gradient(180deg, rgba(19, 23, 43, 0.7) 0%, rgba(19, 23, 43, 0.5) 100%);
                    box-shadow: 0px 69px 80px -30px rgba(0, 0, 0, 0.31);
                    border-radius: 5px;
                    margin-bottom: toRem(32);

                    @include respond (tablet){
                        margin-bottom: toRem(16);
                    }
                }
            }
        }

        .media__content{
            display: flex;
            flex-direction: column;
            flex: 0 0 30%;
            height: toRem(320);

            @include respond (tablet){
                height: 100%;
                text-align: center;
                justify-content: center;
                width: 100%;
            }

            h2{
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 800;
                line-height: 47px;
                color: $color-5;
                margin-bottom: toRem(32)
            }
            
            p{
                @include p-4();
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                color: #9FA1A7;
                width: toRem(243);

                @include respond (tablet){
                    margin: 0 auto;
                }
            }

            .follow-btn{
                margin-top: toRem(16);
                display: flex;
                justify-content: center;
                align-items: center;
                width: toRem(201);
                height: toRem(63);
                background-color: #375FEB;
                border: 2px solid #375FEB;
                border-radius: 40px;
                @include Small-title(lowercase);
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                color: $color-5;
                text-decoration: none;
                transition: all .2s ease-in-out ;

                &:hover{
                    background-color: $color-1;
                }

                @include respond (tablet){
                    margin: toRem(16) auto;
                }
            }
        }
    }
}