.latest-news{
    width: 100%;
    margin-bottom: toRem(104);

    @include respond (tab-port) {
        padding: 0 toRem(24);
    }

    a{
        text-decoration: none;
    }
    h2{
        text-align: center;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 800;
        font-size: 43px;
        line-height: 47px;
        color: $color-5;
        border-bottom: 1px solid rgba(255, 255, 255, 0.13);
        padding-bottom: toRem(48);
        margin-bottom: toRem(72);
        
        cursor: pointer;
    }

    .container{
        max-width: toRem(1000);
        width: 100%;
        padding: 0;

        .news{
            width: 100%;
            display: flex;
            flex-direction: column;
    
            .news__main{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                width: 100%;
                background: #13172B;
                box-shadow: 0px 157px 201px -110px rgba(0, 0, 0, 0.31);
                border-radius: 10px;
                margin-bottom: toRem(32);

                @include respond (tab-mini){
                    grid-template-columns: repeat(1, 1fr);
                }
    
                .content-left{
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
    
                .content-right{
                    margin: auto toRem(48);

                    @include respond (tablet) {
                        margin: auto toRem(24);
                    }

                    @include respond (tab-mini) {
                        padding: toRem(16) toRem(24);
                        margin: 0;
                    }
    
                    h5{
                        font-family: 'Gilroy';
                        font-style: normal;
                        font-weight: 800;
                        font-size: 25px;
                        line-height: 28px;
                        color: $color-5;
                        margin-bottom: toRem(23);

                        @include respond (tablet) {
                            font-size: 22px;
                        }
                    }
    
                    p{
                        &:nth-child(2) {
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 21px;
                            color: rgba(255, 255, 255, 0.63);
                            margin-bottom: toRem(22);
                        }
                    }
    
                    a{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        color: $secondary-2;
                        text-decoration: none;
                        cursor: pointer;
                        padding: toRem(8);
                        transition: all ease-in .2s;
    
                        &:hover{
                            color: $color-5;
                            background-color: $primary;
                        }
                    }
                }
            }
    
            .news__sub{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                width: 100%;
                gap: toRem(20);

                @include respond (tablet) {
                    grid-template-columns: repeat(3, 1fr);
                }
                @include respond (tab-mini) {
                    grid-template-columns: repeat(2, 1fr);
                }
                
                @include respond (phone-mini) {
                    grid-template-columns: repeat(1, 1fr);
                }
    
                .news__sub--box{
                    background: $color-2;
                    box-shadow: 0px 69px 80px -30px rgba(0, 0, 0, 0.31);
                    border-radius: 3px;
                    height: toRem(355);

                    @include respond (tablet){
                        &:last-child{
                            grid-column: 1 / -1;
                        }
                    }

                    @include respond (tab-mini){
                        &:last-child{
                            grid-column: auto;
                        }
                    }
    
                    img{
                        object-fit: cover;
                        width: 100%
                    }

                    .box-content{
                        width: 100%;
                        padding: 0 toRem(16);

                        h6{
                            font-family: 'Gilroy';
                            font-style: normal;
                            font-weight: 800;
                            font-size: 22px;
                            line-height: 24px;
                            color: $color-5;
                            margin-top: toRem(24);
                            margin-bottom: toRem(30);

                            @include respond (tab-port) {
                                font-size: 20px;
                            }
                            
                        }
    
                        a{
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            color: $primary;
                            cursor: pointer;
                            transition: all ease-in .2s;
                            padding: toRem(8);
                            text-decoration: none;
                            margin-bottom: toRem(24);
    
                            &:hover{
                                background-color: $primary;
                                color: $color-5;
                            }
                        }
                    }

                    
                }
            }
        }
    }

    .news__popular{
        width: 100%;

        .news__title{
            border-bottom: 1px solid rgba(255, 255, 255, 0.13);
            padding-bottom: toRem(21);
            margin: toRem(104) 0 toRem(12);
        }
        
        h6{
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 800;
            font-size: 22px;
            line-height: 24px;
            color: $color-5;

            @include respond (tablet) {
                font-size: 20px;
            }
        }
    }

    .news__list{
        display: flex;
        flex-direction: column;
        width: 100%;

        .news__list--content{
            display: flex;
            gap: toRem(42);
            padding: toRem(32) 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);
            // margin-bottom: toRem(32);

            @include respond (tab-mini) {
                flex-direction: column;
                gap: 0;
            }
            

            .content-left{
                img{
                    background: rgba(255, 255, 255, 0.03);
                    border-radius: 3px;
                    object-fit: cover;

                    @include respond (tab-mini) {
                        width: 100%;
                    }
                }
            }

            .content-right{
                padding: toRem(22) 0;
                h6{
                    margin-bottom: toRem(22);
                }
                
                p{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    color: rgba(255, 255, 255, 0.63);
                    margin-bottom: toRem(16);
                }

                a{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: $secondary-2;
                    cursor: pointer;
                    
                    transition: all .2s ease-in;
                    text-decoration: none;

                    &:hover{
                        color: $color-5;
                        background-color: $primary;
                        padding: toRem(8);
                    }
                }
            }
        }
    }

    .news__btn{
        border: 2px solid $primary;
        border-radius: 40px;
        margin: toRem(32) auto 0;
        display: block;
        width: fit-content;
        text-decoration: none;
        padding: toRem(20) toRem(56);
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: $color-5;
        cursor: pointer;
        transition: all .2s ease;

        &:hover{
            background-color: $primary;
        }
    }
}